@import "tailwindcss";


@theme {
    --color-sub-bg: #4F88F3;
}

.react-calendar-heatmap-month-label {
    fill: #fff !important;
    stroke: #000 !important;     
    stroke-width: 0.5 !important;     
    font-size: 8px !important;
}
.bg-primary-gradient {
    background: #2838E2;
    background: linear-gradient(14deg, rgba(40, 56, 226, 1) 0%, rgba(35, 36, 40, 1) 70%);
}

.bg-secondary {
    background-color: #E4541E;
}

.text-main {
    color: #F1C40F;
}

.bg-secondary-gradient {
    background: #A0D585;
    background: linear-gradient(328deg, rgba(160, 213, 133, 1) 0%, rgba(105, 132, 169, 1) 100%);
}